.options {
  border: 1px solid gray;
  border-radius: 20px;
  height: 150px;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px auto;
}

.options button {
  margin-bottom: 5px;
  padding: 4px;
  font-size: 15px;
}

